.A_Propos {
  display: flex;
  flex-direction: column;
  padding: 80px;
}

.title {
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: lightskyblue;
}

.about_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.about_container .left-side {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

span.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tags-inline {
  display: inline-flex;
}

.tag {
  font-family: "", Arial, sans-serif;
  display: inline-flex;
  background: linear-gradient(to bottom right, #525252, #3d72b4);
  text-align: center;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
}

.photo_2_moi {
  height: 50%;
  width: 50%;
  box-shadow: 0 4px 8px 0 dimgray, 0 6px 20px 0 dimgray;
}

.container_bio {
  display: inline-flex;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  align-content: center;
}

p.boldbio {
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 50%;
}

p.bio {
  display: flex;
  justify-content: center;
  width: 50%;
}

.right-side {
  display: flex;
  text-align: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap !important ;
  justify-content: center;
}

.A_Propos .flex-wrap .primary_button {
  align-items: center;
  border-radius: 8px;
  color: white;
  background-color: cornflowerblue;
  border: none;
  padding: 8px 20px !important;
  margin-left: 10%;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 10px rgb(88 88 88 / 25%);
  text-decoration: none;
}

.A_Propos .flex-wrap .secondary_button {
  align-items: center;
  border-radius: 8px;
  color: white;
  background-color: orangered;
  border: none;
  padding: 8px 20px !important;
  margin-left: 10%;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 10px rgb(88 88 88 / 25%);
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: 20px;
  background: orangered;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  width: 10%;
  height: 10%;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.7em) rotate(45deg) scale(2);
}

button:hover span {
  transform: translateX(15em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
