footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background:hsl(204, 100%, 60%);
    position:relative;
    bottom:0;
    width:100%;
}

footer img{
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: row;
}

footer .adresse_mail{
    display: flex;
    justify-content: center;
    color:wheat;
}

footer p{
    display: flex;
    justify-content: center;
    color:wheat;
    margin: 0;
}